Repository isso-comments/isso, pull requests merged in 2022-02, with the labels that each got.

#311 Have client read out shared settings from server
  CHANGES.rst
  docs/docs/configuration/client.rst
  docs/docs/configuration/server.rst
  isso/js/embed.js
  isso/views/comments.py
Labels: server, client, feature

#795 docs: Minor nits: Reword link, include advanced-migration in sidebar, copyright, clean conf
  docs/_isso/sidebar-docs.html
  docs/conf.py
  docs/index.html
Labels: doc

#796 .github: Add sphinx docs GH Action
  .github/workflows/documentation.yml
Labels: doc

#799 comment moderation fix item value check
  isso/views/comments.py
Labels: server, bug

#793 [UGLY] admin: Use textarea for comment editing
  isso/css/admin.css
  isso/js/admin.js
  isso/templates/admin.html
Labels: bug

#803 Remove ISSO_CORS_ORIGIN and references
  CHANGES.rst
  docs/docs/configuration/server.rst
  isso/wsgi.py
Labels: server, bug, doc

#802 setup.py, README: Generate proper Project Description for PyPi
  README.md
  setup.py
Labels: server, doc
