Repository isso-comments/isso, pull requests merged in 2022-05, with the labels that each got.

#852 docs [MAJOR]: Fill in community, testing, contrib pages, add news entries
  docs/_static/css/site.css
  docs/_static/css/site.scss
  docs/community.rst
  docs/docs/contributing/documentation.rst
  docs/docs/contributing/index.rst
  docs/docs/reference/installation.rst
  docs/docs/technical-docs/client.rst
  docs/docs/technical-docs/server.rst
  docs/docs/technical-docs/testing-client.rst
  docs/docs/technical-docs/testing-server.rst
  docs/docs/technical-docs/testing.rst
  docs/news.rst
Labels: docs, improvement

#853 docs: contrib: More links, explain building the docs, syntax
  docs/docs/contributing/documentation.rst
  docs/docs/contributing/index.rst
  docs/docs/technical-docs/testing.rst
  docs/docs/toc.rst
Labels: docs, improvement

#860 docs: Expand community & Writing docs pages, import wiki articles
  docs/community.rst
  docs/docs/contributing/documentation.rst
  docs/docs/guides/tips-and-tricks.rst
  docs/docs/guides/troubleshooting.rst
Labels: docs, improvement

#862 docs: Document snapshots, add "New in version x", def.-list styling, better config options documentation
  docs/_static/css/site.css
  docs/_static/css/site.scss
  docs/docs/contributing/documentation.rst
  docs/docs/contributing/index.rst
  docs/docs/reference/client-config.rst
  docs/docs/reference/server-config.rst
  docs/docs/technical-docs/testing-client.rst
  docs/docs/toc.rst
  isso/isso.cfg
Labels: docs, improvement

#854 [server] isso/init: Log paths at start, error if not found; ISSO_SETTINGS takes precedence over -c flag
  isso/__init__.py
Labels: server, improvement

#855 isso: migrate: Workaround empty Disqus ids/titles
  isso/migrate.py
  isso/tests/disqus.xml
  isso/tests/test_migration.py
Labels: server, bug

#846 [client] js: Support enabling reply notifications checkbox by default
  CHANGES.rst
  docs/docs/reference/client-config.rst
  isso/js/app/config.js
  isso/js/app/templates/postbox.js
  isso/js/tests/unit/postbox-reply-notif.test.js
Labels: client, feature

#857 js: template: Do not strip newlines
  isso/js/app/template.js
  isso/js/tests/unit/__snapshots__/template-comment-newlines.test.js.snap
  isso/js/tests/unit/template-comment-newlines.test.js
Labels: client, bug

#864 [docs] Add Markdown rendering explanation, refs, more styling of tables and other elements
  docs/_static/css/site.css
  docs/_static/css/site.scss
  docs/docs/reference/markdown-config.rst
  docs/docs/reference/server-config.rst
  docs/docs/toc.rst
Labels: docs, improvement

#861 [client] js: Postbox: Use labels rather than placeholders
  CHANGES.rst
  isso/css/isso.css
  isso/demo/index.html
  isso/js/app/i18n/en.js
  isso/js/app/isso.js
  isso/js/app/templates/postbox.js
  isso/js/tests/unit/__snapshots__/isso.test.js.snap
  isso/js/tests/unit/postbox-labels-optional.test.js
Labels: client, improvement

#865 [server] Re-enable no-intra-emphasis Markdown ext, allow sub/sup elms by default, src if img
  CHANGES.rst
  isso/isso.cfg
  isso/utils/html.py
  share/isso-dev.cfg
Labels: server, bug, improvement

#867 README: Include more information, new screenshot
  README.md
Labels: docs, meta, improvement

#844 Make it possible to identify the page author's comments
  CHANGES.rst
  docs/docs/reference/client-config.rst
  isso/css/isso.css
  isso/js/app/config.js
  isso/js/app/i18n/en.js
  isso/js/app/isso.js
  isso/js/app/templates/comment.js
Labels: client, improvement

#868 [js] [tests] Add unit tests for postbox, comment-loader, comment rendering; better stubbing/TZ handling
  isso/js/app/isso.js
  isso/js/jest-unit.config.js
  isso/js/tests/mocks/fileMock.js
  isso/js/tests/mocks/fileTransformer.js
  isso/js/tests/setup/global-setup.js
  isso/js/tests/unit/__snapshots__/comment-loader.test.js.snap
  isso/js/tests/unit/__snapshots__/comment.test.js.snap
  isso/js/tests/unit/__snapshots__/postbox.test.js.snap
  isso/js/tests/unit/comment-loader.test.js
  isso/js/tests/unit/comment.test.js
  isso/js/tests/unit/isso.test.js
  isso/js/tests/unit/postbox.test.js
  isso/js/tests/unit/timezone-utc.test.js
Labels: client, ci, improvement

#872 [client] Fix avatar sizing on Chrome & Safari
  isso/css/isso.css
Labels: client, bug

#873 .github: Add issue, PR templates
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: meta

#876 Docs testing
  Makefile
  docs/docs/contributing/documentation.rst
  docs/docs/reference/installation.rst
  docs/docs/reference/multi-site-sub-uri.rst
  docs/docs/technical-docs/client.rst
  docs/docs/technical-docs/server.rst
  docs/docs/technical-docs/testing-client.rst
  docs/docs/technical-docs/testing-server.rst
  docs/docs/technical-docs/testing.rst
Labels: docs, improvement

#878 app: i18n: Added Ukrainian translation
  CHANGES.rst
  isso/js/app/i18n.js
  isso/js/app/i18n/uk.js
Labels: client, improvement

#845 [client] Highlight linked comments to identify them
  docs/docs/guides/tips-and-tricks.rst
  isso/css/isso.css
  isso/js/embed.js
  isso/js/tests/integration/highlight-comments.test.js
  isso/js/tests/integration/puppet.test.js
  package.json
Labels: client, feature, improvement

#879 [client] i18n: Enable Turkish translations, add missing German strings
  CHANGES.rst
  isso/js/app/i18n.js
  isso/js/app/i18n/de.js
  isso/js/tests/unit/postbox-labels-optional.test.js
Labels: client, improvement

#880 [server] Add /config endpoint
  .github/workflows/python-tests.yml
  CHANGES.rst
  isso/views/comments.py
Labels: client, feature

#881 [docs] Update theme location, various nits
  Makefile
  docs/_static/css/site.css
  docs/_static/css/site.scss
  docs/_theme/layout.html
  docs/_theme/page.html
  docs/_theme/remove_heading.py
  docs/_theme/search.html
  docs/_theme/searchbox.html
  docs/_theme/sidebar-docs.html
  docs/_theme/theme.conf
  docs/conf.py
  docs/docs/reference/multi-site-sub-uri.rst
  docs/docs/reference/server-config.rst
  docs/docs/technical-docs/testing.rst
Labels: docs, improvement

#882 [config] Move isso-dev.cfg to contrib/
  CHANGES.rst
  Dockerfile
  contrib/isso-dev.cfg
  docker-compose.yml
  docs/docs/technical-docs/testing-client.rst
  docs/docs/technical-docs/testing.rst
  isso/js/tests/integration/puppet.test.js
Labels: server, improvement

#884 [client] js: test/integration: Test API directly
  isso/js/jest-integration.config.js
  isso/js/jest-puppeteer.config.js
  isso/js/jest-unit.config.js
  isso/js/tests/integration/puppet.test.js
Labels: client, improvement

#883 [server] Remove obsolete /count GET, apiDoc improvements
  CHANGES.rst
  Makefile
  apidoc/_apidoc.js
  apidoc/apidoc.json
  apidoc/footer.md
  apidoc/header.md
  docs/docs/reference/server-api.rst
  docs/images/apidoc-sample-latest.png
  isso/tests/test_comments.py
  isso/views/comments.py
Labels: server, bug, docs, improvement

#889 [client][ci] Tests: Add screenshot testing
  .github/workflows/e2e-tests.yml
  CHANGES.rst
  Makefile
  docker-compose.yml
  docs/docs/technical-docs/testing-client.rst
  docs/docs/technical-docs/testing.rst
  isso/js/tests/integration/__snapshots__/puppet.test.js.snap
  isso/js/tests/integration/compare-hashes.sh
  isso/js/tests/integration/puppet.test.js
  isso/js/tests/integration/screenshots.test.js
  isso/js/tests/integration/screenshots/comment.png
  isso/js/tests/integration/screenshots/comment.png.hash
  isso/js/tests/integration/screenshots/postbox.png
  isso/js/tests/integration/screenshots/postbox.png.hash
  isso/js/tests/integration/screenshots/thread.png
  isso/js/tests/integration/screenshots/thread.png.hash
Labels: client, testing/ci

#890 [CI] js: test: Decouple screenshots from regular e2e tests
  .github/workflows/e2e-tests.yml
  Makefile
  docker-compose.yml
  docs/docs/technical-docs/testing-client.rst
  isso/js/tests/integration/screenshots/postbox.png
  isso/js/tests/integration/screenshots/postbox.png.hash
  isso/js/tests/screenshots/compare-hashes.sh
  isso/js/tests/screenshots/reference/comment.png
  isso/js/tests/screenshots/reference/comment.png.hash
  isso/js/tests/screenshots/reference/postbox.png
  isso/js/tests/screenshots/reference/postbox.png.hash
  isso/js/tests/screenshots/reference/thread.png
  isso/js/tests/screenshots/reference/thread.png.hash
  isso/js/tests/screenshots/screenshots.test.js
  package.json
Labels: testing/ci, improvement

#893 [server] core: Replace flask-caching dependency with drop-in
  CHANGES.rst
  isso/core.py
  isso/utils/cache.py
  setup.py
Labels: server, improvement

#895 [server] views: comments: Check using get(), not 'in'
  isso/tests/test_comments.py
  isso/views/comments.py
Labels: server, bug

#897 Move references from posativ.org/isso/ to isso-comments.de
  .github/ISSUE_TEMPLATE.md
  CONTRIBUTING.rst
  README.md
  apidoc/header.md
  docs/index.html
  isso/utils/http.py
  isso/views/comments.py
Labels: docs, meta

#887 js, templates: Replace `contenteditable` `div` with `textarea`
  CHANGES.rst
  isso/css/isso.css
  isso/js/app/isso.js
  isso/js/app/templates/postbox.js
  isso/js/app/utils.js
  isso/js/tests/integration/__snapshots__/puppet.test.js.snap
  isso/js/tests/screenshots/reference/comment.png
  isso/js/tests/screenshots/reference/comment.png.hash
  isso/js/tests/screenshots/reference/postbox.png
  isso/js/tests/screenshots/reference/postbox.png.hash
  isso/js/tests/screenshots/reference/thread.png
  isso/js/tests/screenshots/reference/thread.png.hash
  isso/js/tests/unit/__snapshots__/postbox.test.js.snap
  isso/js/tests/unit/isso.test.js
Labels: client, improvement
