Repository isso-comments/isso, pull requests merged in 2022-03, with the labels that each got.

#805 views: moderation: Add unit tests, proper response instead of "Yo", apiDoc clarifications
  CONTRIBUTORS.txt
  isso/tests/test_comments.py
  isso/views/comments.py
Labels: server, feature

#809 CHANGES.rst: Fix small typos
  CHANGES.rst
Labels: server, bug

#810 Bugfix/api docs
  isso/views/comments.py
Labels: server, bug

#811 __init__.py: Fix config startup check
  isso/__init__.py
  isso/run.py
Labels: server, bug

#819 GitHub Actions: Optimize actions, cache, upload artifacts
  .github/workflows/documentation.yml
  .github/workflows/pythonpackage.yml
Labels: feature

#820 isso: js: embed: Insert Postbox before comments
  isso/js/embed.js
Labels: client, bug

#825 treewide: Remove manpage generation
  MANIFEST.in
  Makefile
  docs/conf.py
  docs/docs/man/index.rst
Labels: feature, doc

#818 contrib: import_blogger: Warn on missing feedparser, run flake8 in contrib/ as well
  Makefile
  contrib/import_blogger.py
Labels: server, bug

#817 docs, demo: <noscript> to warn that JS is needed
  docs/docs/quickstart.rst
  docs/index.html
  isso/demo/index.html
Labels: client, doc

#801 js: Add Jest testing
  isso/js/jest.config.js
  isso/js/tests/mocks/fileMock.js
  isso/js/tests/unit/__snapshots__/isso.test.js.snap
  isso/js/tests/unit/config.test.js
  isso/js/tests/unit/isso.test.js
  isso/js/tests/unit/utils.test.js
  package.json
Labels: client, feature

#826 .github: Add Javascript action
  .github/workflows/javascript-client.yml
Labels: client, feature

#808 setup.py: drop python3.5 support
  CHANGES.rst
  docs/docs/install.rst
  setup.py
Labels: server, feature

#833 [docs] Add "Edit on GH" links, fix searchbox, widen viewport, better legibility
  Makefile
  docs/_isso/layout.html
  docs/_isso/page.html
  docs/_isso/search.html
  docs/_isso/sidebar-docs.html
  docs/_static/css/site.css
  docs/_static/css/site.scss
  docs/_static/github.svg
  docs/conf.py
  docs/index.html
Labels: feature, doc

#827 [config] Use only `.cfg` extension, unify getting conf location
  MANIFEST.in
  Makefile
  ansible/files/uwsgi.ini
  docs/docs/configuration/server.rst
  docs/docs/extras/deployment.rst
  isso/__init__.py
  isso/config.py
  isso/defaults.ini
  isso/dispatch.py
  isso/isso.cfg
  isso/run.py
  isso/tests/test_comments.py
  isso/tests/test_guard.py
  isso/tests/test_vote.py
  share/isso-dev.cfg
Labels: server, feature

#834 [client] js: Limit syntax back to ES5, emit ES5-compatible output
  isso/js/app/api.js
  isso/js/app/config.js
  isso/js/app/count.js
  isso/js/app/i18n.js
  isso/js/app/isso.js
  isso/js/app/lib/identicons.js
  isso/js/app/template.js
  isso/js/app/templates/comment-loader.js
  isso/js/app/templates/comment.js
  isso/js/app/templates/postbox.js
  isso/js/count.js
  isso/js/embed.js
  isso/js/webpack.config.js
Labels: client, bug
