Repository isso-comments/isso, pull requests merged in 2022-04, with the labels that each got.

#835 Removes reference to unmaintained yaourt
  docs/docs/install.rst
Labels: docs

#816 css, js: Prefix all directives with 'isso-'
  CHANGES.rst
  isso/css/isso.css
  isso/js/app/isso.js
  isso/js/app/templates/comment-loader.js
  isso/js/app/templates/comment.js
  isso/js/app/templates/postbox.js
  isso/js/tests/unit/__snapshots__/isso.test.js.snap
Labels: client, feature

#831 Bugfix/gravatar display avatar size
  CHANGES.rst
  docs/docs/configuration/server.rst
  isso/css/isso.css
  isso/isso.cfg
Labels: client, bug

#840 js: isso: Fix class selector for preview
  isso/js/app/isso.js
Labels: client, bug

#841 Dockerfile: Use Alpine base images, optimize process
  Dockerfile
Labels: server, bug

#807 Add puppeteer end-to-end integration test
  .github/workflows/javascript-client.yml
  isso/js/jest-integration.config.js
  isso/js/jest-unit.config.js
  isso/js/tests/integration/puppet.test.js
  isso/js/tests/unit/config.test.js
  isso/js/tests/unit/isso.test.js
  isso/js/tests/unit/utils.test.js
  package-lock.json
  package.json
  share/isso-dev.cfg
Labels: client, feature

#847 [ci] [docker] Use docker for e2e, client testing, add docker-compose file
  .dockerignore
  .github/workflows/docker-compose.yml
  docker-compose.yml
  docker/Dockerfile-js-puppeteer
  docker/Dockerfile-js-testbed
Labels: server, client, ci, improvement

#849 [docs] Improve apiDoc handling, add entry to Makefile, flourish
  .gitignore
  Makefile
  apidoc.json
  apidoc/apidoc.json
  apidoc/footer.md
  apidoc/header.md
Labels: server, client, docs, improvement

#850 Remove ansible, Vagrant cruft, move remaining to contrib/ dir
  Vagrantfile
  ansible/files/uwsgi.ini
  ansible/site.yml
  contrib/nginx/nginx.conf
  contrib/nginx/nginx.vhost.conf
  contrib/uwsgi.ini
  tox.ini
Labels: ci, improvement

#848 [docs] [MAJOR] Re-arrange, add a few missing pages to be filled in
  Makefile
  docs/_extensions/sphinx_reredirects/__init__.py
  docs/_isso/layout.html
  docs/_isso/sidebar-docs.html
  docs/_isso/theme.conf
  docs/_static/css/site.css
  docs/_static/css/site.scss
  docs/community.rst
  docs/conf.py
  docs/docs/configuration/client.rst
  docs/docs/contributing/documentation.rst
  docs/docs/contributing/index.rst
  docs/docs/guides/advanced-integration.rst
  docs/docs/guides/faq.rst
  docs/docs/guides/quickstart.rst
  docs/docs/guides/tips-and-tricks.rst
  docs/docs/guides/troubleshooting.rst
  docs/docs/index.rst
  docs/docs/reference/client-config.rst
  docs/docs/reference/deployment.rst
  docs/docs/reference/installation.rst
  docs/docs/reference/multi-site-sub-uri.rst
  docs/docs/reference/server-api.rst
  docs/docs/reference/server-config.rst
  docs/docs/setup/sub-uri.rst
  docs/docs/technical-docs/client.rst
  docs/docs/technical-docs/server.rst
  docs/docs/technical-docs/testing-client.rst
  docs/docs/technical-docs/testing-server.rst
  docs/docs/technical-docs/testing.rst
  docs/docs/toc.rst
  docs/faq.rst
  docs/index.html
  docs/theme-testing.rst
Labels: docs, improvement

#851 docs: theme: Rework sidebar internals, fix search, error-on-warn, minor
  .github/workflows/documentation.yml
  Makefile
  docs/_isso/layout.html
  docs/_isso/page.html
  docs/_isso/search.html
  docs/_isso/searchbox.html
  docs/_isso/sidebar-docs.html
  docs/_static/css/site.css
  docs/_static/css/site.scss
  docs/community.rst
  docs/conf.py
  docs/docs/index.rst
  docs/index.html
  docs/news.rst
  docs/releasing.rst
  docs/theme-testing.rst
Labels: docs, improvement
