Repository isso-comments/isso, pull requests merged in 2024-04, with the labels that each got.

#1013 docs: Document Isso Project Infrastructure
  docs/docs/contributing/infrastructure.rst
  docs/docs/toc.rst
Labels: docs, meta

#992 js: config.js: Fix newline character handling in data-isso-* i18n strings
  CHANGES.rst
  isso/js/app/config.js
  isso/js/tests/unit/config.test.js
Labels: client, bug

#1014 Docker, docs: Document and implement changed image tagging policy
  .github/workflows/docker-build.yaml
  CHANGES.rst
  Dockerfile
  Makefile
  README.md
  docs/docs/reference/installation.rst
Labels: docs, meta

#1021 Docker, CI: Make JS integration tests more robust; update screenshots
  .github/workflows/docker-testbed-periodic-rebuild.yaml
  .github/workflows/e2e-tests.yml
  docker-compose.yml
  docker/Dockerfile-js-testbed
  isso/js/tests/screenshots/reference/comment.png
  isso/js/tests/screenshots/reference/comment.png.hash
  isso/js/tests/screenshots/reference/postbox.png
  isso/js/tests/screenshots/reference/postbox.png.hash
  isso/js/tests/screenshots/reference/thread.png
  isso/js/tests/screenshots/reference/thread.png.hash
Labels: bug, testing/ci

#1016 ext: notifications: Add link logging for management of new comments in Stdout
  CHANGES.rst
  isso/__init__.py
  isso/ext/notifications.py
Labels: server, feature
