Repository isso-comments/isso, pull requests merged in 2024-05, with the labels that each got.

#1024 docker, ci: Make e2e tests less flaky
  .dockerignore
  docker-compose.yml
  isso/js/tests/integration/puppet.test.js
Labels: bug, testing/ci

#1023 Change logging to include datetime and loglevel
  CHANGES.rst
  isso/__init__.py
Labels: server, improvement

#1019 db: Make 'text' field in 'comments' table NOT NULL and handling data migration
  CHANGES.rst
  isso/db/__init__.py
  isso/db/comments.py
  isso/tests/test_db.py
Labels: server, testing/ci, improvement

#1015 Python 3.12 compatibility; docker, venv/virtualenv
  .github/workflows/python-package.yml
  .github/workflows/python-tests.yml
  CHANGES.rst
  Dockerfile
  Makefile
  docker-compose.yml
  docs/docs/contributing/documentation.rst
  docs/docs/reference/installation.rst
  docs/docs/technical-docs/testing-client.rst
  docs/docs/technical-docs/testing.rst
  setup.py
Labels: server, docs

#1025 docs: Misc changes for dropped IRC bridge, dbpath in docker, distro packaging
  contrib/isso-dev.cfg
  contrib/isso.sample.cfg
  docs/community.rst
  docs/docs/contributing/infrastructure.rst
  docs/docs/guides/quickstart.rst
  docs/docs/reference/client-config.rst
  docs/docs/reference/installation.rst
  docs/index.html
Labels: docs

#993 js: isso.js: Disable Postbox submit button on click, enable after response
  CHANGES.rst
  isso/js/app/isso.js
  isso/js/tests/integration/highlight-comments.test.js
  isso/js/tests/integration/puppet.test.js
  isso/js/tests/screenshots/reference/thread.png
  isso/js/tests/screenshots/reference/thread.png.hash
  isso/js/tests/screenshots/screenshots.test.js
Labels: client, feature
